@import '../base/variables';
@import '../base/mixins';


.contenido-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    .direccion-footer {
        text-align: left;
        p {
            margin: 0;
        }
    }

    .links-footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            text-decoration: none;
            color: #fff;
            margin: 5px 0;
            transition: color 0.3s ease;

            &:hover {
                color: $color-secondary;
                text-decoration: underline;
            }
        }
    }

    .footer-redes {
        a {
            color: #fff;
            font-size: 30px;
            margin: 0 $spacing-medium;
            transition: color 0.3s ease;

            &:hover {
                color: $color-secondary;
            }
        }
    }
}