@import '../base/variables';
@import '../base/mixins';


@include responsive($breakpoint-tablet) {
    body {
        overflow-x: hidden;
    }

    .logo {
        margin: 0;
    }

    .home {
        visibility: visible;
    }

    .nav-item {
        font-size: $font-size-large;
    }

    .presentacion {
        flex-direction: column;
        padding: $spacing-medium;
    }

    .presentacion-text {
        width: 100%;
        text-align: center;
    }

    .presentacion-image img {
        margin-top: $spacing-small;
        width: 100%;
    }

    .baner {
        flex-direction: column;
        padding: $spacing-medium;

        .texto-baner {
            width: 100%;
            margin-bottom: $spacing-medium;

            h2 {
                font-size: $font-size-large;
            }

            p {
                font-size: $font-size-base;
            }
        }
    }

    .destacado {
        width: 10%;
        flex-direction: column;
        transform: translateX(25%);
    }

    .producto-destacado {
        margin-bottom: 15px;
        height: auto;
    }

    .producto-destacado p {
        font-size: $font-size-large;
    }

    .producto-destacado img {
        width: auto;
        height: auto;
    }

    .forms-section {
        flex-direction: column;
        align-items: center;

        .form-container {
            width: 70%;
        }
    }

    .top-bar {
        flex-direction: column;
    }

    .nav-bar {
        flex-direction: column;
    }

    .nav-bar a {
        margin-bottom: $spacing-small;
    }

    .container-fluid {
        padding: 0;
    }

    .navbar-collapse {
        width: 100%;
    }

    .logo {
        margin-left: auto;
        margin-right: auto;
    }

    .venta-productos {
        padding: 0 15px;
    }

    .card {
        width: 70%;
    }

    .contenido-footer {
        padding: 0 $spacing-small;
    }

    .footer {
        flex-direction: column;
    }

    .contenido-footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-redes {
        margin-bottom: $spacing-medium;
    }

    .footer-redes a {
        margin-right: $spacing-small;
    }

    .footer-redes img {
        width: 30px;
        height: 30px;
    }

    .links-footer {
        text-align: center;
        font-size: $font-size-large;
    }

    iframe {
        width: 100%;
    }
}