@import '../base/variables';
@import '../base/mixins';

.forms-section {
    display: flex;
    justify-content: space-around;
    padding: $spacing-large $spacing-medium;

    .form-container {
        width: 45%;
        background-color: #c2c2c2;
        padding: $spacing-small;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: $spacing-small;

        h2 {
            font-size: $font-size-large;
            margin-bottom: $spacing-medium;
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;

            .form-row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;

                .form-group {
                    width: 48%;

                    label {
                        display: block;
                        margin-bottom: 5px;
                    }

                    input {
                        width: 90%;
                        padding: $spacing-small;
                        border: 1px solid #ddd;
                        border-radius: 5px;
                    }
                }
            }

            .form__bottom {
                padding: $spacing-small $spacing-medium;
                background-color: $color-accent;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                @include hover-effect;

                &:hover {
                    background-color: $color-secondary;
                    color: $color-text;
                }
            }
        }
    }
}

label {
    margin-bottom: 5px;
}

input {
    padding: $spacing-small;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}
