body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFF0F5;
    overflow-x: hidden; 
}

header {
    display: flex;
    flex-direction: column;
    background-color: #F8BBD0;
    border-bottom: 1px solid #ddd;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
}