@import './variables';

body {
    font-family: $font-main;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $color-background;
    overflow-x: hidden; 
    font-size: $font-size-base;
    color: $color-text;
}

header {
    display: flex;
    flex-direction: column;
    background-color: $color-header;
    border-bottom: 1px solid #ddd;
}

footer {
    background-color: $color-footer;
    color: #fff;
    padding: $spacing-medium;
}

// Botones
.btn {
    @include button-styles;
    @include hover-effect;
}