// Variables de color
$color-primary: #4B0082;
$color-secondary: #FF69B4;
$color-background: #FFF0F5;
$color-text: #202020;
$color-accent: #C71585;
$color-header: #F8BBD0;
$color-footer: #000;

// Variables de fuente
$font-main: Arial, sans-serif;
$font-size-base: 16px;
$font-size-large: 24px;
$font-size-xlarge: 32px;

// Variables de espaciado
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 50px;

// Variables de breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;