// _variables.scss

// Colores
$primary-color: #ff6f61;
$secondary-color: #ffd700;
$text-color: #000;
$background-color: #fff;
$border-color: #ddd;
$hover-primary-color: #724743;
$hover-secondary-color: #ffd700;

// Tamaños
$button-padding: 10px 20px;
$border-radius: 5px;

// Sombras
$box-shadow: 0 10px 14px rgba(0, 0, 0, 0.2);
